:root {
    --primary: #11998e;
    --secondary: #38ef7d;
    --black: #000000;
    --gray: #9b9b9b;
  }

/* .modal-form {
 
} */

.form__group {
  position: relative;

  margin: 10px 0;
  width: 100%;
}

.form__field {
  font-family: "Montserrat Alternates", sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 20px;
  color: var(--black);
  padding: 15px 0 15px;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
  pointer-events: none;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight:700;    
  }
  padding-bottom: 5px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */

.empty {
  color: #FF0000;
}

.form__field:focus {
  ~ .form__label.empty {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #FF0000;
    font-weight:700;    
  }
}