/* Додайте ці стилі у ваш CSS файл або створіть новий файл */

.profile-modal {
  display: flex;
  flex-direction: row;
  color: #000;
  min-width: 50vw;
  max-width: 75vw;
}

.user-info-wrap {
  display: flex;
  flex-direction: column;
  max-width: 310px;
}

.user-profile {
  color: #000000;
  font-size: 40px;
  align-self: start;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 24px;
}

.user-icon {
  align-self: center;
  width: 200px; /* Встановлюємо ширину зображення */
  height: 200px; /* Встановлюємо висоту зображення */
  border-radius: 50%; /* Обрізаємо зображення до кола */
  object-fit: cover; /* Масштабуємо зображення, щоб воно заповнювало коло */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Додаємо тінь (необов’язково) */
}

.highlight {
  background-color: red !important;
  color: white !important;
}

.bookingselected {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  margin-top: auto;
}

.booking-details-container {
  overflow-y: scroll;
  max-height: 400px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.booking-details-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.booking-details-list {
  display: flex;
  flex-direction: column;
}

.booking-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: auto;
  margin-bottom: 10px;
  position: relative; /* Add this line */
}

.delete-icon {
  position: absolute; /* Add this line */
  top: 10px; /* Adjust the position as needed */
  right: 10px; /* Adjust the position as needed */
  cursor: pointer;
}

.booking-details h3 {
  margin-top: 0;
}

.show-all-bookings {
  margin-top: auto;
  padding: 10px;
  background-color: #006edc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-all-bookings:hover {
  background-color: #005bb5;
}

.change-password-a {
  font-size: 20px;
  font-weight: 700;
  color: #b6b6b6;
  text-align: left;
  cursor: pointer;
}

.change-password-a:hover {
  color: #9d9d9d;
}
