.pronas-section {
    width: 100%;
    height: auto; /* Змініть на auto */
    background-color: #09111C;
    color: #ffffff;
    font-size: 20px;
    padding: 100px 160px 0;
    font-family: "Montserrat", sans-serif;
}

.pronas-section-name {
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.text-wrapper {
    margin-top: 36px;
    flex: 1;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-pronas {
    margin: 0px 40px 25px;
}

.pronas-section-text {
    font-size: 20px;
    text-align: left;
    max-width: 802px;
    margin-bottom: 25px;
}

.red-text {
    color: #FF0000;
}

.pronas-img {
    border: 2px solid #fff;
    margin-bottom: 20px;
    margin-left: auto; /* Додаємо margin-left: auto; щоб вирівняти фото праворуч */
}

.google-map {
    height: 200px;
    width: 100%;

}

p a {
    text-decoration: none;
    color: #FF0000;
}
