.prices-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #09111c;
  color: #ffffff;
  font-size: 20px;
  padding: 100px 160px 0;
  font-family: "Montserrat", sans-serif;
}

.prices-section-name {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.table-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  border-collapse: collapse;
}

.table-price tr {
  display: flex;
}

.table-price th,
.table-price td {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  max-height: 108px;
  min-width: 183px;
  max-width: 380px;
  flex-wrap: wrap;
  border: 2px solid #ffffff;
  padding: 30px 40px;
  text-align: center;
  margin: 8px 13px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

.table-price th {
  color: #ff0000;
}

.table-zone {
  width: 380px;
  font-size: 32px;
  color: #ff0000;
  padding: 30px;
  text-align: center;
}

.zonu {
  color: #ffffff;
}

.price-cell {
  cursor: pointer; /* Зміна курсора при наведенні */
}

.price-cell.selected {
  color: #fff;
  background-color: #ff0000; /* Зміна фону для активної комірки */
  border-radius: 10px; /* Зміна обрамлення для активної комірки */
}

.modal-content-bron {
  color: #000;
  display: flex;
  flex-direction: column;
}

.modal-name-bron {
  color: #000000;
  font-size: 24px;
  align-self: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 24px;
}

.modal-button-bron {
  align-self: center;
  height: 60px;
  padding: 0 60px;
}

.modal-button-bron:hover {
  border: 2px solid #000;
}

.modal-content-auth {
  text-align: center;
  color: #000;
  max-width: 350px;
}

.modal-content-auth h3 {
  font-size: 30px;
  color: #ff0000;
}

.modal-button-auth {
  padding: 0 20px;
  background-color: #006edc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button-auth:hover {
  background-color: #005bb5;
}

.modal-button-auth:active {
  background-color: #004895;
}
