.prices-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background-color: #09111c;
  color: #ffffff;
  font-size: 20px;
  padding: 100px 160px 0;
  font-family: "Montserrat", sans-serif;
}

.prices-section-name {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.table-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  border-collapse: collapse;
}

.table-price tr {
  display: flex;
}

.table-price th,
.table-price td {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  max-height: 108px;
  min-width: 183px;
  max-width: 380px;
  flex-wrap: wrap;
  border: 2px solid #ffffff;
  padding: 30px 40px;
  text-align: center;
  margin: 8px 13px;
}

.table-price th {
  color: #ff0000;
}

.table-zone {
  width: 380px;
  font-size: 32px;
  color: #ff0000;
  padding: 30px;
  text-align: center;
}

.zonu {
  color: #ffffff;
}

.price-cell.selected {
  background-color: #f0f0f0; /* Зміна фону для активної комірки */
  border: 2px solid #000; /* Зміна обрамлення для активної комірки */
}

.modal-content {
  color: #000;
}
